﻿@model HotSale.Dto.Operations.DashboardRes
<div class="col-md-5 col-lg-5 pl-none company-panel" data-loading-overlay="">
    <div class="tabs">
        <ul class="nav nav-tabs tabs-primary">
            <li class="active">
                <a href="#overview" data-toggle="tab" aria-expanded="true">@Model.CompanyTypeDto.FirstOrDefault(t => t.Id == Model.CompanyTypeId).Name</a>
            </li>

        </ul>
        <div class="tab-content">
            <div id="overview" class="tab-pane active">
                <span>@Model.StartDate.ToShortDateString() - @Model.FinishDate.ToShortDateString()</span>
                <div class="table-responsive">
                    @if (Model.AccountReportDto.AccountReportDetailsDto != null && Model.AccountReportDto.AccountReportDetailsDto.Count > 0)
                    {

                        <table class="table table-bordered table-striped mb-none datatable-tabletools">
                            <thead>
                                <tr>
                                    <th>Tarih</th>
                                    <th>Yapılan İşlem</th>
                                    <th>İşlem Türü</th>
                                    <th>Tutar</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.AccountReportDto.AccountReportDetailsDto)
                                {
                                    <tr>
                                        <td>@item.ProcessDate.ToShortDateString()</td>
                                        <td>@(Html.Raw(item.ProcessName))</td>
                                        <td>@item.ProcessType</td>
                                        <td>@(string.Format("{0:C}", item.Total))</td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    }
                    else
                    {
                        <div class="well primary">
                            Kayıt Bulunamadı.
                        </div>
                    }
                </div>
                @if (Model.AccountReportDto.Assignor != null)
                {
                    <br>
                    <span>@Model.AccountReportDto.Assignor</span>
                }
                <br />
                @if (Model.CompanyTypeDto.FirstOrDefault(t => t.Id == Model.CompanyTypeId).Name == "Cari Borç Alacak")
                {
                    var borc = Model.AccountReportDto.AccountReportDetailsDto.Where(t => t.ProcessType == "Borç")?.Sum(x => x.Total) ?? 0;
                    var alacak = Model.AccountReportDto.AccountReportDetailsDto.Where(t => t.ProcessType == "Alacak")?.Sum(x => x.Total) ?? 0;

                    <br />
                    <span>Borç : @(string.Format("{0:C}", borc))</span>
                    <br />
                    <span>Alacak : @(string.Format("{0:C}", alacak))</span>
                    <br />
                    <span>Kalan : @(string.Format("{0:C}", (alacak - borc)))</span>
                    <br />
                }

            </div>
        </div>
    </div>
</div>