﻿@model HotSale.Dto.Operations.DashboardRes

<section class="panel">
    <header class="panel-heading">
        <h2 class="panel-title">Tipi</h2>
    </header>
    <div class="panel-body">
        <ul class="simple-post-list">
            @foreach (var item in Model.CompanyTypeDto)
            {
                <li>
                    <div class="post-info" style="float:left;">
                        <a href="javascript:void(0);" class="btn @(Model.CompanyTypeId == item.Id ? "btn-primary" : "btn-default") company-text" CompanyId="@Model.CompanyId" CompanySectionId="@Model.CompanySectionsId" CompanyTypeId="@item.Id">
                            @item.Name
                            @if (item.Value != null)
                            {
                                <br>
                                @item.Value

                            }

                        </a>
                    </div>
                </li>
            }
        </ul>
    </div>
</section>
