﻿@model HotSale.Dto.Operations.DashboardRes

<section class="panel company-panel">
    <header class="panel-heading">
        <h2 class="panel-title col-xs-2 col-lg-2 mt-sm">Şubeler</h2>
        <div class="col-xs-9 col-lg-9">
            <div class="input-daterange input-group" data-plugin-datepicker data-plugin-options='{"format": "dd/mm/yyyy","language":"tr"}'>
                <span class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </span>
                <input id="txt-company-startDate" type="text" class="form-control" readonly="readonly" value="@Model.StartDate.ToShortDateString()">
                <span  class="input-group-addon">-</span>
                <input id="txt-company-finishDate" type="text" class="form-control" readonly="readonly" value="@Model.FinishDate.ToShortDateString()">
            </div>
        </div>
        <div class="clearfix"></div>
    </header>
    <div class="panel-body">
        <ul class="simple-post-list">
            @foreach (var item in Model.CompanyDto)
            {
                <li>
                    <div class="post-info">
                        <div class="col-sm-3">
                            <a class="col-sm-12 btn @(Model.CompanyId == item.Id ? "btn-primary" : "btn-default") company-text" href="javascript:void(0);" ViewName="Company" CompanyId="@item.Id">@item.Name</a>
                        </div>
                        <div class="col-sm-9">
                            @if (Model.CompanySectionsDto != null && Model.CompanyId == item.Id)
                            {
                                foreach (var itemSection in Model.CompanySectionsDto)
                                {
                                    <a href="javascript:void(0);" class="btn @(Model.CompanySectionsId == itemSection.Id ? "btn-primary" : "btn-default") company-text" CompanyId="@item.Id" CompanySectionId="@itemSection.Id">@itemSection.Name</a>
                                }
                            }
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</section>
