﻿@model HotSale.Dto.Operations.DashboardRes




<div class="col-md-5 col-lg-5 pl-none company-panel" data-loading-overlay>
    <div class="tabs">
        <ul class="nav nav-tabs tabs-primary">
            <li class="active">
                <a href="#overview" data-toggle="tab">Satılan Ürünler</a>
            </li>
            <li>
                <a href="#edit" data-toggle="tab">Ürün Grupları</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="overview" class="tab-pane active">
                @if (Model.ProductsSaleReportDto.Count > 0)
                {
                    <table class="table table-bordered table-striped mb-none datatable-tabletools">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Ürün Adı</th>
                                @if (Model.CompanySectionsId == 3)
                                {

                                    <th>Kalan</th>
                                }
                                else
                                {

                                    <th>Miktar</th>
                                }

                                @*<th>Toplam</th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ProductsSaleReportDto)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.Name</td>
                                    <td>@item.Count</td>
                                    @*<td>@item.Total</td>*@
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <div class="well primary">
                        Kayıt Bulunamadı.
                    </div>
                }
            </div>
            <div id="edit" class="tab-pane">

                <div class="table-responsive">
                    @if (Model.ProductsSaleReportDto.Count > 0)
                    {
                        <table class="table table-bordered table-striped mb-none datatable-tabletools">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Grup Adı</th>
                                    <th>Miktar</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ProductGroupsReportDto)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.Name</td>
                                        <td>@item.Count</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <div class="well primary">
                            Kayıt Bulunamadı.
                        </div>
                    }

                </div>

            </div>
        </div>
    </div>
</div>