﻿
<!doctype html>
<html class="fixed">
<head>
    <!-- Basic -->
    <meta charset="UTF-8">
    <meta name="description" content="Sıcak Satış">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.css" />

    <link rel="stylesheet" href="/assets/vendor/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="/assets/vendor/magnific-popup/magnific-popup.css" />
    <link rel="stylesheet" href="/assets/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.css" />

    <!-- Specific Page Vendor CSS -->
    <link rel="stylesheet" href="/assets/vendor/pnotify/pnotify.custom.css" />

    <!-- Theme CSS -->
    <link rel="stylesheet" href="/assets/stylesheets/theme.css" />

    <!-- Skin CSS -->
    <link rel="stylesheet" href="/assets/stylesheets/skins/default.css" />

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="/assets/stylesheets/theme-custom.css">

    <!-- Skin CSS -->
    <link rel="stylesheet" href="/assets/stylesheets/skins/default.css" />

    <!-- Head Libs -->
    <script src="/assets/vendor/modernizr/modernizr.js"></script>
</head>
<body>
    <!-- start: page -->
    <section class="body-sign">
        <div class="center-sign" data-loading-overlay>
            <a href="/" class="logo pull-left">
                <img src="/assets/images/logo3.png" height="54" alt="Porto Admin" />
            </a>
            <form id="form" class="form-horizontal">
                <div class="panel panel-sign">
                    <div class="panel-title-sign mt-xl text-right">
                        <h2 class="title text-uppercase text-weight-bold m-none"><i class="fa fa-user mr-xs"></i> @ViewBag.Login</h2>
                    </div>
                    <div class="panel-body">
                        <div class="form-group mb-lg">
                            <label>Kullanıcı Adı</label>
                            <div class="input-group input-group-icon">
                                <input name="username" type="text" class="input-username form-control input-lg" required />
                                <span class="input-group-addon">
                                    <span class="icon icon-lg">
                                        <i class="fa fa-user"></i>
                                    </span>
                                </span>
                            </div>
                        </div>

                        <div class="form-group mb-lg">
                            <div class="clearfix">
                                <label class="pull-left">Şifre</label>
                            </div>
                            <div class="input-group input-group-icon">
                                <input name="password" type="password" class="input-pass form-control input-lg" required />
                                <span class="input-group-addon">
                                    <span class="icon icon-lg">
                                        <i class="fa fa-lock"></i>
                                    </span>
                                </span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-8">
                                @*<div class="checkbox-custom checkbox-default">
                                        <input id="RememberMe" name="rememberme" type="checkbox" />
                                        <label for="RememberMe">Remember Me</label>
                                    </div>*@
                            </div>
                            <div class="col-sm-4 text-right">
                                <button type="button" class="btn btn-primary hidden-xs button-login" isactivedrc="true">Giriş Yap</button>
                                <button class="btn btn-primary btn-block btn-lg visible-xs mt-lg button-login" isactivedrc="true">Giriş Yap</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <p class="text-center text-muted mt-md mb-md">&copy; Copyright 2018. All Rights Reserved Sıcak Satış.</p>
        </div>
    </section>
    <!-- end: page -->
    <!-- Vendor -->
    <script src="/assets/vendor/jquery/jquery.js"></script>
    <script src="/assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="/assets/vendor/nanoscroller/nanoscroller.js"></script>
    <script src="/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="/assets/vendor/magnific-popup/jquery.magnific-popup.js"></script>
    <script src="/assets/vendor/jquery-placeholder/jquery-placeholder.js"></script>

    <!-- Specific Page Vendor -->
    <script src="/assets/vendor/jquery-validation/jquery.validate.js?v1"></script>
    <script src="/assets/vendor/pnotify/pnotify.custom.js"></script>

    <!-- Theme Base, Components and Settings -->
    <script src="/assets/javascripts/theme.js"></script>

    <!-- Theme Custom -->
    <script src="/assets/javascripts/theme.custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="/assets/javascripts/theme.init.js"></script>
    <script src="/assets//js/commons.js?@("v"+Guid.NewGuid())"></script>
    <script src="/assets/js/Login.js?@("v"+Guid.NewGuid())"></script>



</body>
</html>
