﻿@model HotSale.Dto.Helper.ServiceResponse<List<HotSale.Dto.ProductDto>>
@{
    var control = HotSale.Helper.WebSession.LoginControl(Context.Session);
}

<div class="col-xs-12">
    <section class="panel">
        <header class="panel-heading">
            <div class="row">
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                    <div class="input-group input-search">
                        <input type="text" class="form-control order-product-search" placeholder="Ürün Ara..." value="@Model.Term">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                        </span>
                    </div>

                </div>
                <div class="col-xs-3 col-sm-3  col-md-3 col-lg-3">
                    <span class="input-group-btn">
                        @if (control.IsOtherBranch)
                        {
                            <a href="#storeCreate" class="btn btn-success btn-store-create" data-toggle="tab">Depo Siparişi Ver</a>
                        }
                    </span>
                </div>
            </div>
        </header>
        <div class="panel-body">
            <div class="form-group">
                <div class="table-responsive">
                    <table class="table table-striped mb-none">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Stok Kodu</th>
                                <th>Stok Adı</th>
                                <th>Birim Tipi</th>
                                @if (control.IsOtherBranch)
                                {
                                    <th>İstenilen Miktar</th>
                                    <th>Ekle</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Data)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.Code</td>
                                    <td>@item.Name</td>
                                    <td>@item.Unit</td>
                                    @if (control.IsOtherBranch)
                                    {
                                        <td><input class="form-control number-store number-store-@item.Id" type="text" style="width:100px;" ProductId="@item.Id" ProductCode="@item.Code" ProductName="@item.Name" ProductPrice="@item.Price" ProductTax="@item.Tax" ProductUnit="@item.Unit" ProductUnitRate="@item.UnitRate" /></td>
                                        <td class="btn-store-add"><a href="javascript:void(0);"><i class="fa fa-save"></i></a></td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            @*<div class="col-xs-6 pull-right"><div class="dataTables_paginate paging_bs_normal pull-right" id="datatable-default_paginate"><ul class="pagination"><li class="prev disabled"><a href="#"><span class="fa fa-chevron-left"></span></a></li><li class="active"><a href="#">1</a></li><li><a href="#">2</a></li><li><a href="#">3</a></li><li><a href="#">4</a></li><li><a href="#">5</a></li><li class="next"><a href="#"><span class="fa fa-chevron-right"></span></a></li></ul></div></div>*@
        </div>
    </section>
</div>
