﻿@using Microsoft.AspNetCore.Http
@{
    var control = HotSale.Helper.WebSession.LoginControl(Context.Session);
    var companyStores = (List<HotSale.Dto.CompanyStoreDto>)ViewBag.CompanyStores;
    var companyStoresCode = (int)ViewBag.CompanyStoresDefaultCode;
}
@model List<HotSale.Dto.Operations.Store.StoreBasketDto>

<div class="col-md-8 col-lg-offset-2">
    @if (Model.Count > 0)
    {
        <section class="panel">
            <header class="panel-heading">
                <div class="row">
                    <div class="col-xs-3 col-sm-3  col-md-3 col-lg-3">
                        <span class="input-group-btn">
                            <a href="#storeProductList" class="btn btn-success" data-toggle="tab">Ürün Listesi</a>
                        </span>
                    </div>

                </div>
            </header>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-1 control-label mt-md">Tarih :</label>
                    <div class="col-sm-2 mt-8">
                        <input type="text" class="form-control" readonly="readonly" value="@(DateTime.Now.ToShortDateString() + " " + DateTime.Now.ToShortTimeString())" placeholder="dd.MM.yyyy hh:mm" />
                    </div>
                    <label class="col-sm-1 control-label mt-md">Depo :</label>
                    <div class="col-sm-2">
                        <select class="slct-store">
                            @foreach (var item in companyStores)
                            {
                               @:<option @(item.Kodu == companyStoresCode ? "selected='selected'" : "")  value="@item.Kodu">@item.Adi</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="table-responsive">
                        <table class="table table-striped mb-none">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Ürün Adı</th>
                                    <th>Birim</th>
                                    <th>Miktar</th>
                                    <th>#</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.ProductId</td>
                                        <td>@item.ProductName</td>
                                        <td>@item.ProductUnitRate</td>
                                        <td>@item.Quantity</td>
                                        <td><a class="btn-store-product-delete" productId="@item.ProductId" href="javascript:void(0);"><i class="fa fa-remove"></i></a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-offset-7 col-xs-offset-7 col-xs-2 col-sm-2 control-label">Toplam Miktar</label>
                    <div class="col-sm-3">
                        <input type="text" name="github" class="form-control" value="@Model.Sum(x => x.Quantity)" readonly="readonly" />
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-lg-offset-7 col-xs-offset-7 col-xs-2 col-sm-2 control-label">Sipariş Veren</label>
                    <div class="col-sm-3">
                        <input type="text" name="github" class="form-control" value="@control.FullName" readonly="readonly" />
                    </div>
                </div>

                <div class="col-sm-4 col-sm-offset-7">
                    <button class="btn btn-primary btn-store-save">Sipariş Onay</button>
                    <button type="reset" class="btn btn-default btn-store-clear">Temizle</button>
                </div>
            </div>
        </section>

    }
    else
    {
        <section class="panel"></section>
        <header class="panel-heading">
            <div class="row">
                <div class="col-xs-3 col-sm-3  col-md-3 col-lg-3">
                    <span class="input-group-btn">
                        <a href="#storeProductList" class="btn btn-success" data-toggle="tab">Ürün Listesi</a>
                    </span>
                </div>

            </div>
        </header>
        <div class="panel-body">
            <div class="well primary">
                Ürün eklemeden  depo sipariş veremezsiniz ürün listesinden ürün ekleyiniz.
            </div>
        </div>

    }

</div>
