﻿@model HotSale.Dto.Operations.Store.StoreRes

<div class="col-xs-12">
    <section class="panel">
        <header class="panel-heading">
            <div class="row">
                <div class="col-xs-3 hide">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-search"></i>
                        </span>
                        <input id="order-term" data-plugin-masked-input="" data-input-mask="99/99/9999" placeholder="ünvana göre ara..." class="form-control order-search" value="@Model.Term">
                    </div>
                </div>
                <div class="col-xs-4 col-lg-4">
                    <div class="input-daterange input-group" data-plugin-datepicker data-plugin-options='{"format": "dd/mm/yyyy","language":"tr"}'>
                        <span class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </span>
                        <input id="txt-company-startDate" type="text" class="form-control" readonly="readonly" value="@Model.StartDate.ToShortDateString()">
                        <span class="input-group-addon">-</span>
                        <input id="txt-company-finishDate" type="text" class="form-control" readonly="readonly" value="@Model.FinishDate.ToShortDateString()">
                    </div>
                </div>
                <div class="pl-none col-xs-3">
                    <span class="input-group-btn">
                        <button class="btn btn-success btn-order-list" type="button">Ara</button>
                    </span>
                </div>
                <div class="clearfix"></div>
            </div>
        </header>
        <div class="panel-body">
            <div class="form-group">
                <div class="table-responsive">
                    <table class="table table-striped mb-none" id="datatable-details">
                        <thead>
                            <tr class="selectedtr">
                                <th></th>
                                <th>Fiş No</th>
                                <th>Depo Adı</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.StoreDto.Data)
                            {
                                <tr class="selectedtr">
                                    <td class="text-center"><i data-toggle="" class="fa-selected fa fa-plus-square-o text-primary h5 m-none" style="cursor: pointer;"></i></td>
                                    <td>@item.FisNo</td>
                                    <td>@item.DepoAdi</td>
                                </tr>
                                <tr class="details hide">
                                    <td class="details" colspan="5">
                                        <table class="table table-striped mb-none" style="width: 80%;margin: 0 auto; border:1px solid grey !important;">
                                            <thead><tr><th></th><th>Stok Kodu</th><th>Stok Adı</th><th>Miktar</th></tr></thead>
                                            <tbody>
                                                @foreach (var itemx in Model.StoreDetailsDto.Where(x => x.FisNo == item.FisNo))
                                                {
                                                    <tr>
                                                        <td></td>
                                                        <td>@itemx.Stok_Kodu</td>
                                                        <td>@itemx.Adi_1</td>
                                                        <td>@itemx.Miktari</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="col-xs-6 pull-right">
                        <div class="dataTables_paginate paging_bs_normal pull-right" id="datatable-default_paginate">
                            <ul class="pagination">
                                @for (int i = Model.StoreDto.Page.StartPage; i <= Model.StoreDto.Page.EndPage; i++)
                                {
                                    <li class="btn-order-page-change @((Model.StoreDto.Page.CurrentPage) == i ? "active" : "")" pageNo="@i"><a href="#">@i</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>