/* Add here all your CSS customizations */

.label-diag {
    width: 100%;
    display: block;
    height: 21px;
    line-height: 19px;
    color: #fff;
    background: #01b8d0;
    text-align: center;
    top: 31px;
    z-index: 999;
    font-size: 14px;
}
