﻿@model HotSale.Dto.Operations.SpecialOrder.SpacialOrderResDto
@{
    ViewData["Title"] = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row panel-loading" data-loading-overlay>
    <!-- col-md-6 -->
    <div class="col-md-6">
        <form class="orderspecial-save-form" action="forms-validation.html">
            <section class="panel">
                <header class="panel-heading">
                    <h2 class="panel-title">Özel Pasta Siparişi</h2>
                </header>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Sipariş Tarihi :</label>
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                                <input type="text" class="form-control" readonly="readonly" value="@(DateTime.Now.ToShortDateString() + " " + DateTime.Now.ToShortTimeString())">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Bayi Adı : <span class="required">*</span></label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" readonly="readonly" value="@(Model.BranchName)" placeholder="eg.: John Doe" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Ürün Adı : <span class="required">*</span></label>
                        <div class="col-sm-9">
                            <select id="select-stock" rows="3" class="form-control populate" name="StockCode" required></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="textareaDefault">Ürün İçeriği : </label>
                        <div class="col-md-9">
                            <textarea name="StockDetail" class="form-control" rows="3" id="textareaDefault" required></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="textareaDefault">Açıklama :</label>
                        <div class="col-md-9">
                            <textarea name="Description" class="form-control" rows="3" id="textareaDefault" required></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Foto</label>
                        <div class="col-md-6">
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                <div class="input-append">
                                    <div class="uneditable-input">
                                        <i class="fa fa-file fileupload-exists"></i>
                                        <span class="fileupload-preview"></span>
                                    </div>
                                    <span class="btn btn-default btn-file">
                                        <span class="fileupload-exists">Change</span>
                                        <span class="fileupload-new">Seç</span>
                                        <input name="Filer" type="file" />
                                    </span>
                                    <a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload">Remove</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="textareaDefault">Teslim Adresi :</label>
                        <div class="col-md-9">
                            <textarea name="DeliveryAddress" class="form-control" rows="3" id="textareaDefault" required></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Teslim Tarihi :</label>
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                                <input name="DeliveryDate" type="text" data-plugin-datepicker class="form-control" data-plugin-options='{"format": "dd/mm/yyyy","language":"tr"}' required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Teslim Saati :</label>
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-clock-o"></i>
                                </span>
                                <input name="DeliveryTime" type="text" data-plugin-timepicker class="form-control" data-plugin-options='{ "showMeridian": false }' required>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="panel-footer">
                    <div class="row">
                        <div class="col-sm-9 col-sm-offset-3">
                            <button class="btn btn-primary btn-orderspecial-save-form">Kaydet</button>
                            <button type="reset" class="btn btn-default">Temizle</button>
                        </div>
                    </div>
                </footer>
            </section>
        </form>
    </div>
</div>


@section Scripts{
    <script src="~/assets/js/SpecialOrder.js?@("v"+Guid.NewGuid())"></script>
}