﻿@using Microsoft.AspNetCore.Http
@{
    var control = HotSale.Helper.WebSession.LoginControl(Context.Session);
    var companyStores = (List<HotSale.Dto.CompanyStoreDto>)ViewBag.CompanyStores;
    var accountCustomers = (List<HotSale.Dto.AccountCardDto>)ViewBag.AccountCustomers;
    var companyStoresCode = (int)ViewBag.CompanyOrderDefaultCode;
}
@model List<HotSale.Dto.Operations.Order.BasketDto>

<div class="col-md-8 col-lg-offset-2">
    <section class="panel">
        <header class="panel-heading">
            <div class="row">
                <div class="col-xs-3 col-sm-3  col-md-3 col-lg-3">
                    <span class="input-group-btn">
                        <a href="#overview" class="btn btn-success" data-toggle="tab">Ürün Listesi</a>
                    </span>
                </div>

            </div>
        </header>
        <div class="panel-body">
            @if (Model.Count > 0)
            {

                <div class="form-group">
                    <label class="col-sm-1 control-label mt-16">Tarih :</label>
                    <div class="col-sm-2 mt-sm">
                        <input type="text" class="form-control" readonly="readonly" value="@(DateTime.Now.ToShortDateString() + " " + DateTime.Now.ToShortTimeString())" placeholder="dd.MM.yyyy hh:mm" />
                    </div>
                    <label class="col-sm-1 control-label mt-16">Depo :</label>
                    <div class="col-sm-2 mt-sm">
                        <select data-plugin-selectTwo class="form-control slct-store">
                            @foreach (var item in companyStores)
                            {
                                @:<option @(item.Kodu == companyStoresCode ? "selected='selected'" : "" ) value="@item.Kodu">@item.Adi</option>
                            }
                        </select>
                    </div>
                    <label class="col-sm-1 control-label mt-16">Cari :</label>
                    @if (!control.IsCustomer)
                    {

                        <div class="col-sm-4 mt-sm">
                            <select data-plugin-selectTwo class="form-control slct-account @(control.IsCustomer ? "" : "")" re>
                                @foreach (var item in accountCustomers)
                                {
                                    @:<option @(item.AccountCardNo == control.FirmId ? "selected='selected'" : "" ) value="@item.AccountCardNo">@item.AccountCardTitle</option>
                                }
                            </select>
                        </div>
                    }
                    else
                    {
                        var customerTitle = accountCustomers.FirstOrDefault(x => x.AccountCardNo == control.FirmId).AccountCardTitle;
                        <div class="col-sm-4 mt-sm">
                            <input type="text" class="form-control" readonly="readonly" value="@(customerTitle)" placeholder="dd.MM.yyyy hh:mm" />
                        </div>
                    }
                </div>
                <div class="form-group">
                    <div class="table-responsive">
                        <table class="table table-striped mb-none">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Ürün Adı</th>
                                    <th>Miktar</th>
                                    <th>Fiyat</th>
                                    <th>Toplam</th>
                                    <th>#</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.ProductId</td>
                                        <td>@item.ProductName</td>
                                        <td>@item.Quantity</td>
                                        <td>@item.Price</td>
                                        <td>@(item.Quantity * @item.Price)</td>
                                        <td class="btn-order-product-delete" productId="@item.ProductId"><a href="javascript:void(0);"><i class="fa fa-remove"></i></a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-offset-7 col-xs-offset-7 col-xs-2 col-sm-2 control-label">Toplam Miktar</label>
                    <div class="col-sm-3">
                        <input type="text" name="github" class="form-control" value="@Model.Sum(x => x.Quantity)" readonly="readonly" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-offset-7 col-xs-offset-7 col-xs-2 col-sm-2 control-label">Sipariş Veren</label>
                    <div class="col-sm-3">
                        <input type="text" name="github" class="form-control" value="@control.FullName" readonly="readonly" />
                    </div>
                </div>
                <div class="col-sm-4 col-sm-offset-7">
                    <button type="button" class="btn btn-primary btn-order-save">Sipariş Onay</button>
                    <button type="reset" class="btn btn-default  btn-order-clear">Temizle</button>
                </div>

            }
            else
            {
                <div class="well primary">
                    Ürün eklemeden sipariş veremezsiniz ürün listesinden ürün ekleyiniz.
                </div>
            }
        </div>
    </section>
</div>