﻿@model HotSale.Dto.Operations.Order.ProductRes
@{
    var control = HotSale.Helper.WebSession.LoginControl(Context.Session);
}

@foreach (var item in Model.ProductsDto.Data)
{
    <div class="col-sm-3 col-md-3 col-lg-3">
        <div class="thumbnail">
            <div class="thumb-preview">
                <span class="thumb-image">
                    <span class="label-diag">@item.Name</span>
                    @if (control.IsPhotoAccess)
                    {
                        <span class="form-group" style="position:absolute; left:30%; top:50%; opacity: 0.6;">
                            <span class="col-md-12">
                                <span class="fileupload fileupload-new" data-provides="fileupload">
                                    <span class="input-append">
                                        <span class="btn btn-default btn-file">
                                            <span class="fileupload-new">Foto Yükle</span>
                                            <input type="file" class="file-product" stokNo="@item.Id" />
                                        </span>
                                        <a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload">Remove</a>
                                    </span>
                                </span>
                            </span>
                        </span>
                    }
                    <img src="~/images/stock/@item.Id/@(item.Id +".png")" width="250" height="220" class="img-responsive m-auto" style="height:220px;" onerror="this.onerror=null;this.src='/assets/images/projects/no-images.png'">
                </span>

            </div>
            <div class="input-group mb-md mt-xs">
                @if (control.IsCustomer)
                {
                    <input type="@(item.Unit == "AD" ? "number" : "text")" class="form-control number-Order number-Order-@(item.Id)" placeholder="@item.Unit" ProductId="@item.Id" ProductCode="@item.Code" ProductName="@item.Name" ProductPrice="@item.Price" ProductTax="@item.Tax" ProductUnit="@item.Unit" ProductUnitRate="@item.UnitRate">
                    <span class="input-group-btn">
                        <button class="btn btn-success btn-order-add" type="button">Ekle</button>
                    </span>
                }
            </div>
        </div>
    </div>
}

@if (Model.ProductsDto.Data.Count > 0)
{
    <span class="loading-order-products hide" pageNo="@(Model.PageNo + 1)" style="position:absolute; bottom:-140px; left:41%;">
        <img src="~/assets/images/lazyload.gif" />
    </span>
}
