﻿@model HotSale.Dto.Operations.Order.ProductRes
@{
    var control = HotSale.Helper.WebSession.LoginControl(Context.Session);
}

<div class="col-md-2 col-lg-2 pl-none">
    <section class="panel">
        <header class="panel-heading" style="height:71px;">
            <h2 class="panel-title" style="font-size:12px;">Ürün Grupları</h2>
        </header>
        <div class="panel-body">
            <ul class="simple-post-list">
                <li>
                    <div class="post-info">
                        <a href="javascript:void(0);" class="btn @(Model.ProductGroupId == null ? "btn-primary" : "btn-default") order-text">Tümü</a>
                    </div>
                </li>
                @foreach (var item in Model.ProductGroupsDto)
                {
                    <li>
                        <div class="post-info">
                            <a href="javascript:void(0);" class="btn @(Model.ProductGroupId == item.Id ? "btn-primary" : "btn-default") order-text" ProductGroupId="@item.Id">@item.Name</a>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </section>

</div>
<div class="col-md-10 col-lg-10 pl-none">
    <section class="panel">
        <header class="panel-heading">
            <div class="row">
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                    <div class="input-group input-search">
                        <input type="text" class="form-control order-product-search" placeholder="Ürün Ara..." value="@Model.Term">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                        </span>
                    </div>

                </div>
                <div class="col-xs-3 col-sm-3  col-md-3 col-lg-3">
                    <span class="input-group-btn">
                        @if (control.IsCustomer)
                        {
                            <a href="#orderCreate" class="btn btn-success btn-order-create" data-toggle="tab">Sipariş Ver</a>
                        }
                    </span>
                </div>

            </div>
        </header>
        <div class="panel-body">
            <div class="row row-productsItem">
                @Html.Partial("~/Views/Order/Partial/OrderProductsItem.cshtml", Model)
            </div>
        </div>

    </section>

</div>