﻿@model HotSale.Dto.Operations.DashboardRes
@{
    ViewData["Title"] = "Anasayfa";
    var control = HotSale.Helper.WebSession.LoginControl(Context.Session);

    if (ViewBag.NoLayout != false)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}


@if (!control.IsCustomer)
{
    <!-- start: page -->
    <div class="row-dashboard">
        <div class="row">
            <div class="col-md-4 col-lg-4 pl-none">
                @Html.Partial("~/Views/Home/Partial/Company.cshtml", Model)
            </div>
            @if (Model.CompanyTypeDto != null && Model.CompanyTypeDto.Count > 0)
            {
                <div class="col-md-3 col-lg-3 pl-none">
                    @Html.Partial("~/Views/Home/Partial/CompanyType.cshtml", Model)
                </div>
            }

            @if (Model.CompanySectionsId == 4)
            {
                if (Model.AccountReportDto != null)
                {
                    @Html.Partial("~/Views/Home/Partial/AccountingDetail.cshtml", Model)
                }
            }
            else
            {
                if (Model.CompanyTypeDto != null && Model.CompanyTypeDto.Count > 0)
                {
                    @Html.Partial("~/Views/Home/Partial/ProductStock.cshtml", Model)
                }

            }

        </div>
        <!-- end: page -->
    </div>
}
@section Scripts{
    <script src="/assets/js/Home.js?@("v"+Guid.NewGuid())"></script>
}