﻿<!doctype html>
<html class="fixed sidebar-left-collapsed">
<head>

    <!-- Basic -->
    <meta charset="UTF-8">
    <!-- Seo NoIndex by any browsers-->
    <meta name="robots" content="noindex,nofollow">

    <title>Sıcak Satış</title>
    <meta name="keywords" content="Sıcak Satış" />
    <meta name="description" content="Sıcak Satış">
    <meta name="author" content="inanyalcin75@gmail.com">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

    <!-- Vendor CSS-->
    <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/assets/vendor/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="/assets/vendor/magnific-popup/magnific-popup.css" />
    <link rel="stylesheet" href="/assets/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.css" />
    <link rel="stylesheet" href="/assets/vendor/select2/css/select2.css" />
    <link rel="stylesheet" href="/assets/vendor/select2-bootstrap-theme/select2-bootstrap.min.css" />

    <!-- Theme Custom CSS-->
    <link rel="stylesheet" href="/assets/stylesheets/theme-admin-extension.css?v5">
    <!-- Theme CSS-->
    <link rel="stylesheet" href="/assets/stylesheets/theme.css?v4">
    <!-- Skin CSS-->
    <link rel="stylesheet" href="/assets/stylesheets/skins/default.css">
    <link rel="stylesheet" href="/assets/vendor/jquery-datatables-bs3/assets/css/datatables.css">
    <!--  Theme Custom CSS -->
    <link rel="stylesheet" href="/assets/stylesheets/theme-custom.css?v1">
    <!--  Notfy Custom CSS -->
    <link href="/assets/vendor/pnotify/pnotify.custom.css" rel="stylesheet" />

    <link href="/assets/vendor/bootstrap-fileupload/bootstrap-fileupload.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/vendor/bootstrap-timepicker/css/bootstrap-timepicker.css">


    <!-- Specific Page Vendor CSS -->
    <link rel="stylesheet" href="/assets/vendor/bootstrap-fileupload/bootstrap-fileupload.min.css" />
</head>
<body>
    @Html.Partial("/Views/Shared/PartsOfLayout/_Modal.cshtml")
    <section class="body">

        <!-- start: header -->
        <header class="header">
            @Html.Partial("/Views/Shared/PartsOfLayout/_Header.cshtml")
        </header>
        <!-- end: header -->

        <div class="inner-wrapper">
            <!-- start: sidebar -->
            <aside id="sidebar-left" class="sidebar-left">
                @Html.Partial("/Views/Shared/PartsOfLayout/_SidebarLeft.cshtml")
            </aside>
            <!-- end: sidebar -->

            <section role="main" class="content-body" data-loading-overlay>
                @Html.Partial("/Views/Shared/PartsOfLayout/_Breadcrumb.cshtml")
                <!-- start: page -->
                @RenderBody()
                <!-- end: page -->
            </section>
        </div>
    </section>
    <script src="/assets/vendor/modernizr/modernizr.js"></script>
    <script src="/assets/vendor/jquery/jquery.js"></script>
    <script src="/assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="/assets/vendor/nanoscroller/nanoscroller.js"></script>
    <script src="/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="/assets/vendor/bootstrap-datepicker/locales/bootstrap-datepicker.tr.min.js"></script>
    <script src="/assets/vendor/magnific-popup/jquery.magnific-popup.js"></script>
    <script src="/assets/vendor/jquery-placeholder/jquery-placeholder.js"></script>
    <!--Specific Page Vendor -->
    <script src="/assets/vendor/jquery-ui/jquery-ui.js"></script>
    <script src="/assets/vendor/jqueryui-touch-punch/jqueryui-touch-punch.js"></script>
    <script src="/assets/vendor/jquery-appear/jquery-appear.js"></script>
    <script src="/assets/vendor/bootstrap-multiselect/bootstrap-multiselect.js"></script>
    <script src="/assets/vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.js"></script>
    <script src="/assets/vendor/flot/jquery.flot.js"></script>
    <script src="/assets/vendor/flot.tooltip/flot.tooltip.js"></script>
    <script src="/assets/vendor/flot/jquery.flot.pie.js"></script>
    <script src="/assets/vendor/flot/jquery.flot.categories.js"></script>
    <script src="/assets/vendor/flot/jquery.flot.resize.js"></script>
    <script src="/assets/vendor/jquery-sparkline/jquery-sparkline.js"></script>
    <script src="/assets/vendor/raphael/raphael.js"></script>
    <script src="/assets/vendor/morris.js/morris.js"></script>
    <script src="/assets/vendor/gauge/gauge.js"></script>
    <script src="/assets/vendor/snap.svg/snap.svg.js"></script>
    <script src="/assets/vendor/liquid-meter/liquid.meter.js"></script>
    <script src="/assets/vendor/jqvmap/jquery.vmap.js"></script>
    <script src="/assets/vendor/jqvmap/data/jquery.vmap.sampledata.js"></script>
    <script src="/assets/vendor/jqvmap/maps/jquery.vmap.world.js"></script>
    <script src="/assets/vendor/jqvmap/maps/continents/jquery.vmap.africa.js"></script>
    <script src="/assets/vendor/jqvmap/maps/continents/jquery.vmap.asia.js"></script>
    <script src="/assets/vendor/jqvmap/maps/continents/jquery.vmap.australia.js"></script>
    <script src="/assets/vendor/jqvmap/maps/continents/jquery.vmap.europe.js"></script>
    <script src="/assets/vendor/jqvmap/maps/continents/jquery.vmap.north-america.js"></script>
    <script src="/assets/vendor/jqvmap/maps/continents/jquery.vmap.south-america.js"></script>
    <!--Specific Page Vendor For PAGE Froms Advanced -->
    <script src="/assets/vendor/select2/js/select2.js"></script>
    <script src="/assets/vendor/bootstrap-multiselect/bootstrap-multiselect.js"></script>
    <script src="/assets/vendor/jquery-maskedinput/jquery.maskedinput.js"></script>
    <script src="/assets/vendor/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
    <script src="/assets/vendor/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
    <script src="/assets/vendor/bootstrap-timepicker/bootstrap-timepicker.js"></script>
    <script src="/assets/vendor/fuelux/js/spinner.js"></script>
    <script src="/assets/vendor/dropzone/dropzone.js"></script>
    <script src="/assets/vendor/bootstrap-markdown/js/markdown.js"></script>
    <script src="/assets/vendor/bootstrap-markdown/js/to-markdown.js"></script>
    <script src="/assets/vendor/bootstrap-markdown/js/bootstrap-markdown.js"></script>
    <script src="/assets/vendor/codemirror/lib/codemirror.js"></script>
    <script src="/assets/vendor/codemirror/addon/selection/active-line.js"></script>
    <script src="/assets/vendor/codemirror/addon/edit/matchbrackets.js"></script>
    <script src="/assets/vendor/codemirror/mode/javascript/javascript.js"></script>
    <script src="/assets/vendor/codemirror/mode/xml/xml.js"></script>
    <script src="/assets/vendor/codemirror/mode/htmlmixed/htmlmixed.js"></script>
    <script src="/assets/vendor/codemirror/mode/css/css.js"></script>
    <script src="/assets/vendor/summernote/summernote.js"></script>
    <script src="/assets/vendor/bootstrap-maxlength/bootstrap-maxlength.js"></script>
    <script src="/assets/vendor/ios7-switch/ios7-switch.js"></script>
    <script src="/assets/vendor/bootstrap-confirmation/bootstrap-confirmation.js"></script>
    <script src="/assets/vendor/select2/js/select2.js"></script>
    <script src="/assets/vendor/pnotify/pnotify.custom.js"></script>
    <script src="/assets/vendor/jquery-validation/jquery.validate.js"></script>
    <script src="/assets/vendor/bootstrap-wizard/jquery.bootstrap.wizard.js"></script>
    <script src="/assets/vendor/autosize/autosize.js"></script>
    <script src="/assets/javascripts/theme.js"></script>
    <script src="/assets/javascripts/theme.custom.js"></script>
    <script src="/assets/javascripts/theme.init.js"></script>
    <script src="/assets/vendor/jquery-datatables/media/js/jquery.dataTables.js"></script>
    <script src="/assets/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js"></script>
    <script src="/assets/vendor/jquery-datatables-bs3/assets/js/datatables.js"></script>
    <script src="/assets/javascripts/dashboard/examples.dashboard.js"></script>
    <script src="/assets/javascripts/forms/examples.wizard.js"></script>
    <script src="/assets/javascripts/forms/examples.advanced.form.js"></script>
    <script src="/assets/js/commons.js?@("v" + Guid.NewGuid() )"></script>
    <script src="/assets/vendor/bootstrap-fileupload/bootstrap-fileupload.min.js"></script>
    <script src="/assets/vendor/bootstrap-timepicker/bootstrap-timepicker.js"></script>
    @RenderSection("Scripts", false)

</body>
</html>
