﻿@model HotSale.Dto.Operations.Finance.CurrentAccountRes;

<div class="form-group">
    <div class="table-responsive">
      @if (Model.CurrentAccountsDto.Data.Count == 0)
      {
        <div class="well primary">
            Kayıt Bulunamadı.
        </div>

      }
      else
      {
        <table class="table table-striped mb-none" id="datatable-details">
            <thead>
                <tr class="selectedtr">
                    <th>S.No</th>
                    <th>İşlem Türü</th>
                    <th>İşlem No</th>
                    <th>Alınan</th>
                    <th>Ödenen</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.CurrentAccountsDto.Data)
                {
                <tr class="selectedtr">
                    <td>@(item.FisNo + "-" + item.FisSira)</td>
                    <td>@item.FisTipi</td>
                    <td>@item.BelgeNo</td>
                    <td>@(string.Format("{0:C}", item.AlckTutari))</td>
                    <td>@(string.Format("{0:C}", item.BorcTutari))</td>
                </tr>
                }
            </tbody>
            <tfoot>
                <tr class="selectedtr">
                    <th></th>
                    <th></th>
                    <th>GENEL TOPLAM</th>
                    <th>@(string.Format("{0:C}", Model.TotalAlckTutari))</th>
                    <th>@(string.Format("{0:C}", Model.TotalBorcTutari))</th>
                </tr>
            </tfoot>
        </table>
        <div class="col-xs-6 pull-right">
            <div class="dataTables_paginate paging_bs_normal pull-right" id="datatable-default_paginate">
                <ul class="pagination">
                    @for (int i = Model.CurrentAccountsDto.Page.StartPage; i <= Model.CurrentAccountsDto.Page.EndPage; i++)
                    {
                    <li class="btn-currentaccount-page-change @((Model.CurrentAccountsDto.Page.CurrentPage) == i ? "active" : "")" pageNo="@i"><a href="#">@i</a></li>
                    }
                </ul>
            </div>
        </div>


      }
    </div>
</div>