﻿
@model HotSale.Dto.Helper.ServiceResponse<HotSale.Dto.Operations.Finance.WayBillRes>

<div class="form-group">
    <div class="table-responsive">
        @if (Model.DataTotalCount == 0)
        {
            <div class="well primary">
                Kayıt Bulunamadı.
            </div>

        }
        else
        {
            <table class="table table-striped mb-none" id="datatable-details">
                <thead>
                    <tr class="selectedtr">
                        <th></th>
                        <th>Tarih</th>
                        <th>Sipariş No</th>
                        <th>İrsaliye No</th>
                        <th>Sipariş Toplam</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Data.WayBillDtos)
                    {
                        <tr class="selectedtr">
                            <td class="text-center"><i data-toggle="" class="fa-selected fa fa-plus-square-o text-primary h5 m-none" style="cursor: pointer;"></i></td>
                            <td>@item.FisTarihi.ToShortDateString()</td>
                            <td>@item.SipNo</td>
                            <td>@item.Belge_No</td>
                            <td>@(string.Format("{0:C}", (Model.Data.WayBillDetailsDto.Where(x => x.FisNo == item.FisNo && x.IsyeriKodu == item.IsyeriKodu)?.Sum(x => x.Tutari) ?? 0)))</td>
                        </tr>
                        <tr class="details hide">
                            <td class="details" colspan="5">
                                <table class="table table-striped mb-none" style="width: 80%;margin: 0 auto; border:1px solid grey !important;">
                                    <thead><tr><th></th><th>Stok Kodu</th><th>Stok Adı</th><th>Miktar</th><th>Birim</th><th>Fiyat</th><th>Tutari</th></tr></thead>
                                    <tbody>
                                        @foreach (var itemx in Model.Data.WayBillDetailsDto.Where(x => x.FisNo == item.FisNo && x.IsyeriKodu == item.IsyeriKodu))
                                        {
                                            <tr>
                                                <td></td>
                                                <td>@itemx.Stok_Kodu</td>
                                                <td>@itemx.Stok_Adi</td>
                                                <td>@itemx.Miktari</td>
                                                <td>@itemx.BirimTipi</td>
                                                <td>@(string.Format("{0:C}", itemx.Fiyat))</td>
                                                <td>@(string.Format("{0:C}", itemx.Tutari))</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr class="selectedtr">
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>GENEL TOPLAM</th>
                        <th class="waybill-footer-total" >@(string.Format("{0:C}", Model.Data.Total))</th>
                    </tr>
                </tfoot>
            </table>
            <div class="col-xs-6 pull-right">
                <div class="dataTables_paginate paging_bs_normal pull-right" id="datatable-default_paginate">
                    <ul class="pagination">
                        @for (int i = Model.Page.StartPage; i <= Model.Page.EndPage; i++)
                        {
                            <li class="btn-waybill-page-change @((Model.Page.CurrentPage) == i ? "active" : "")" pageNo="@i"><a href="#">@i</a></li>
                        }
                    </ul>
                </div>
            </div>


        }
    </div>
</div>
