﻿@model HotSale.Dto.Operations.Order.ProductRes
@{
    ViewData["Title"] = "Ürün Sipariş";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 pl-none pr-none">

    <div class="tabs">
        <ul class="nav nav-tabs tabs-primary">
            <li class="active">
                <a href="#overview" data-toggle="tab">Ürün Listesi</a>
            </li>
            <li>
                <a href="#orderList" class="order-list" data-toggle="tab">Sipariş Listesi</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="overview" class="tab-pane active">
                <div class="row row-products" data-loading-overlay>
                    @Html.Partial("~/Views/Order/Partial/OrderProducts.cshtml", Model)
                </div>
            </div>
            <div id="orderList" class="tab-pane">
                <div class="row row-orders">
                    @*@Html.Partial("~/Views/Order/Partial/Orders.cshtml", Model)*@
                </div>
            </div>

            <div id="orderCreate" class="tab-pane">
                <div class="row row-orders-cache" data-loading-overlay>
                    @*@Html.Partial("~/Views/Order/Partial/OrderCreate.cshtml")*@
                </div>
            </div>
        </div>
    </div>





</div>

@section Scripts{
    <link href="~/assets/plugins/jqbtk/jqbtk.css" rel="stylesheet" />
    <script src="~/assets/plugins/jqbtk/jqbtk.js"></script>

    <script>
        $(function () {
            $('.number-Order').keyboard({ type: 'numpad', placement: 'top' });
        });
    </script>
    <script src="~/assets/js/Order.js?@("v"+Guid.NewGuid())"></script>
}
