﻿
@{
    ViewData["Title"] = "Cari Dökümü";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model HotSale.Dto.Operations.Finance.CurrentAccountRes
@using HotSale.Infrastructure.Extension;


<div class="col-xs-12">
    <section class="panel">
        <header class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <div class="input-group"></div>
                </div>
                <div class="col-xs-4 col-lg-4">
                    <div class="input-daterange input-group" data-plugin-datepicker data-plugin-options='{"format": "dd/mm/yyyy","language":"tr"}'>
                        <span class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </span>
                        <input id="txt-company-startDate" type="text" class="form-control" readonly="readonly" value="@Model.StartDate.ToShortDateString()">
                        <span class="input-group-addon">-</span>
                        <input id="txt-company-finishDate" type="text" class="form-control" readonly="readonly" value="@Model.FinishDate.ToShortDateString()">
                    </div>
                </div>
                <div class="pl-none col-xs-3">
                    <span class="input-group-btn">
                        <button class="btn btn-success btn-currentaccount-list" type="button">Ara</button>
                    </span>
                </div>
                <div class="clearfix"></div>
            </div>
        </header>
        <div class="panel-body panel-currentaccount">
            @Html.Partial("~/Views/Finance/Partial/CurrentAccountSub.cshtml", Model)
        </div>
    </section>
</div>

@section Scripts{
    <script src="~/assets/js/CurrentAccount.js"></script>
}



