﻿
@{
    ViewData["Title"] = "İrsaliye";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model HotSale.Dto.Helper.ServiceResponse<HotSale.Dto.Operations.Finance.WayBillRes>
@using HotSale.Infrastructure.Extension;


<div class="col-xs-12 row-orders" data-loading-overlay>
    <section class="panel">
        <header class="panel-heading">
            <div class="row">
                <div class="col-xs-4">
                    <div class="input-daterange input-group" data-plugin-datepicker data-plugin-options='{"format": "dd.mm.yyyy","language":"tr"}'>
                        <span class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </span>
                        <input id="txt-company-startDate" type="text" class="form-control" readonly="readonly" value="@Model.Data.StartDate.ToShortDateString()">
                        <span class="input-group-addon">-</span>
                        <input id="txt-company-finishDate" type="text" class="form-control" readonly="readonly" value="@Model.Data.FinishDate.ToShortDateString()">
                    </div>
                </div>
                <div class="pl-none col-xs-2">
                    <span class="input-group-btn">
                        <button class="btn btn-success btn-waybill-list" type="button">Ara</button>
                    </span>
                </div>
                <div class="col-xs-4 pull-right">
                    <input id="waybill-sub-total" class="form-control" style="width:250px;" readonly="readonly" value="Toplam Tutar : @(string.Format("{0:C}", Model.Data.Total))">
                </div>
                <div class="clearfix"></div>
            </div>
        </header>
        <div class="panel-body panel-waybill">
            @Html.Partial("~/Views/Finance/Partial/WayBillSub.cshtml", Model)
        </div>
    </section>
</div>





@section Scripts{
    <script src="~/assets/js/WayBill.js?@("v"+Guid.NewGuid())"></script>
}