﻿<div id="ModalBasic" class="modal-basic modal-block modal-block-primary mfp-hide">
    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title"></h2>
        </header>
        <div class="panel-body">
            <div class="modal-wrapper">
                <div class="modal-icon">
                    <i class="fa fa-question-circle"></i>
                </div>
                <div class="modal-text">
                    <p>Are_You_Sure_That_You_Want_To_Delete_This_Image</p>
                </div>
            </div>
        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-md-12 text-right">
                    <button class="btn btn-default modal-dismiss">İptal</button>
                    <button class="btn btn-primary modal-confirm">Tamam</button>
                </div>
            </div>
        </footer>
    </section>
</div>