﻿@{
    var control = HotSale.Helper.WebSession.LoginControl(Context.Session);
}

<div class="sidebar-header">
    <div class="sidebar-title">
        Navigation
    </div>
    <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
        <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
    </div>
</div>

<div class="nano">
    <div class="nano-content">
        <nav id="menu" class="nav-main" role="navigation">
            <ul class="nav nav-main">
                <li class="nav-active">
                    <a href="/">
                        <i class="fa fa-home" aria-hidden="true"></i>
                        <span>Anasayfa</span>
                    </a>
                </li>

                <li class="nav-parent">
                    <a href="#">
                        <i class="fa fa-list-alt" aria-hidden="true"></i>
                        <span>Sipariş</span>
                    </a>
                    <ul class="nav nav-children" style="">
                        <li>
                            <a href="/Order/Index">
                                Ürün Sipariş
                            </a>
                        </li>
                        <li>
                            <a href="/SpecialOrder/Index">
                                Özel Sipariş
                            </a>
                        </li>
                    </ul>
                </li>
                @if (control.IsOtherBranch || (!control.IsCustomer && !control.IsOtherBranch))
                {
                    <li>
                        <a href="/Store/Index">
                            <i class="fa fa-list-alt" aria-hidden="true"></i>
                            <span>Depo Sipariş</span>
                        </a>
                    </li>
                }
                <li class="nav-parent">
                    <a href="#">
                        <i class="fa fa-list-alt" aria-hidden="true"></i>
                        <span>Finans</span>
                    </a>
                    <ul class="nav nav-children" style="">
                        <li>
                            <a href="/Finance/WayBill">
                                İrsaliye
                            </a>
                        </li>
                        <li><a href="/Finance/Bill">Fatura</a></li>
                        <li>
                            <a href="/Finance/CurrentAccount">
                                Cari Dökümü
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>

    <script>
        // Maintain Scroll Position
        if (typeof localStorage !== 'undefined') {
            if (localStorage.getItem('sidebar-left-position') !== null) {
                var initialPosition = localStorage.getItem('sidebar-left-position'),
                    sidebarLeft = document.querySelector('#sidebar-left .nano-content');

                sidebarLeft.scrollTop = initialPosition;
            }
        }
    </script>


</div>
