﻿@model HotSale.Dto.Helper.ServiceResponse<List<HotSale.Dto.ProductDto>>
@{
    ViewData["Title"] = "Depo Sipariş";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 pl-none pr-none">
    <div class="tabs">
        <ul class="nav nav-tabs tabs-primary">
            <li class="active">
                <a href="#storeProductList" data-toggle="tab">Depo Sipariş</a>
            </li>
            <li>
                <a href="#storeList" class="store-list" data-toggle="tab">Depo Listesi</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="storeProductList" class="tab-pane active">
                <div class="row row-products" data-loading-overlay>
                    @Html.Partial("~/Views/Store/Partial/StoreProducts.cshtml", Model)
                </div>
            </div>
            <div id="storeList" class="tab-pane">
                <div class="row row-stores">
                    @*@Html.Partial("~/Views/Store/Partial/Stores.cshtml")*@
                </div>
            </div>

            <div id="storeCreate" class="tab-pane">
                <div class="row row-store-cache" data-loading-overlay>
                    @*@Html.Partial("~/Views/Order/Partial/OrderCreate.cshtml")*@
                </div>
            </div>

        </div>
    </div>
</div>
@section Scripts{
    <script src="/assets/js/Store.js?@("v" + Guid.NewGuid() )"></script>
}

